{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Change Password</h2>
    <form method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
      </form>
      
</div>

<script>
    function togglePasswordVisibility(fieldId, iconId) {
        const passwordField = document.getElementById(fieldId);
        const toggleIcon = document.getElementById(iconId);
        
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            toggleIcon.classList.replace('fa-eye', 'fa-eye-slash');
        } else {
            passwordField.type = 'password';
            toggleIcon.classList.replace('fa-eye-slash', 'fa-eye');
        }
    }
</script>

{% endblock %}
